@import './shared/_globals.scss';

// компоненты
@import './components/grid.scss';

body {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 0 4rem;
  background: $--color-gray-75;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  &__link {
    display: block;
    padding: 1.62rem 1rem;
    font-size: 1.62rem;
    letter-spacing: -0.025em;
    text-decoration: none;
    color: $--color-gray-900;

    &:hover {
      background: $--color-gray-200;
    }

    &--cart {
      margin-left: auto;
    }
  }
}

.shortcuts {
  background: $--color-gray-900;
  &__item.swiper-slide {
    width: 62vw;
    height: 62vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__content {
    position: absolute;
    top: 2rem;
    left: 4rem;
    color: $--color-gray-50;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0.38rem 0.62rem rgba(0, 0, 0, 0.62), 0 1rem 2rem rgba(0, 0, 0, 0.38);
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem;
  &__item {
    margin: 2rem 0;
    flex-basis: 20%;
  }
  &__icon {
    width: 64px;
    height: 64px;
    margin-right: auto;
    background: $--color-gray-400;
  }
  &__title {
    margin-top: 1.62rem;
    font-size: 1.38rem;
  }
}

.split {
  display: flex;

  &__aside {
    flex-basis: 38%;
    padding: 0 4rem;
  }

  &__main {
    flex-basis: 62%;
    max-width: 62%;
    padding: 0 4rem;
  }
}

.social {
  ul {
    list-style: none;
    margin: 0.62rem 0 0 0;
    padding: 0;
    * + li {
      margin-top: 0.38rem;
    }
  }
  h2 {
    margin: 0;
  }
  * + h2 {
    margin-top: 1em;
  }
}

a {
  color: hsl(217, 100%, 50%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.62rem;
}

h3 {
  font-size: 1.38rem;
}

.showcase {
  width: 100%;
  &__item {
  }
  &__image {
  }
  &__title {
  }
  &__price {
  }
}
