// компоненты
@import './components/grid.scss';
@import './shared/_globals.scss';
@import './components/grid.scss';
@import './css-variables.scss';

body {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 0 var(--padding-x);
  background: var(--color-gray-75);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  &__link {
    display: block;
    padding: 1.62rem 1rem;
    font-size: var(--font-h2);
    letter-spacing: -0.025em;
    text-decoration: none;
    color: var(--color-gray-900);

    &:hover {
      background: var(--color-gray-200);
    }

    &--cart {
      margin-left: auto;
    }
  }
}

.shortcuts {
  background: var(--color-gray-900);
  &__item.swiper-slide {
    width: 60vw;
    height: 60vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__content {
    position: absolute;
    top: var(--padding-y);
    left: var(--padding-x);
    color: var(--color-gray-50);
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0.38rem 0.62rem rgba(0, 0, 0, 0.62), 0 1rem 2rem rgba(0, 0, 0, 0.38);
  }
}

.advantage {
  margin: var(--padding-y) var(--padding-x);
  &__icon {
    width: 64px;
    height: 64px;
    margin-right: auto;
    background: var(--color-gray-400);
  }
  &__title {
    margin-top: var(--padding-y);
    font-size: var(--font-h2);
  }
}

.social {
  padding: var(--padding-y) var(--padding-x);
  ul {
    list-style: none;
    margin: 0.62rem 0 0 0;
    padding: 0;
    * + li {
      margin-top: 0.38rem;
    }
  }
  h2 {
    margin: 0;
  }
  * + h2 {
    margin-top: 1em;
  }
}

a {
  color: hsl(217, 100%, 50%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.62rem;
}

h3 {
  font-size: 1.38rem;
}

.footer {
  background-color: var(--color-gray-100);
  padding: var(--padding-y) var(--padding-x);
}
